body {
    background: #3E4649;
    color: #f7f7f7;
    font-family: 'Montserrat', sans-serif;
}
h1,
h2 {
    font-weight: bold;
}
p {
    font-size: 16px;
    color: #cdcdcd;
}
.navbar {
    margin-bottom: 0;
}
.jumbotron {
    background: #4682B4;
    color: white;
    text-align: center;
}
.jumbotron p {
    color: white;
    font-size: 26px;
}
.navbar-inverse {
    background: #2E2F31;
    border: 0;
}
.dropdown-menu {
    background: #2E2F31;
    border-radius: 0;
    border: 0;
}
.navbar-inverse .navbar-nav li a {
    color: #f7f7f7;
    font-size: 16px;
}
.navbar-inverse .navbar-nav li a:hover {
    background: #27A967;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
    background: #2C463C;
}
.dropdown-menu li a {
    padding: 10px;
}
.btn-primary {
    color: #fff;
    background-color: transparent;
    border-color: white;
    margin-bottom: 5px;
}
.btn-primary:hover {
    color: #27A967;
    background-color: white;
    border-color: white;
}
.glyphicon-large {
    font-size: 100px;
}
.call-to-action {
    text-align: center;
}
.call-to-action p {
    margin-bottom: 30px;
    font-family: sans-serif;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
}


.marginbottom{
    margin-bottom: 20px;
}

/* MODAL */

.modal {
    color: #FFFFFF;
}
.modal-content {
    background-color: #3E4649;
    -khtml-opacity:.90;
    -moz-opacity:.90;
    -ms-filter:”alpha(opacity=90)”;
    filter:alpha(opacity=90);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.9);
    opacity:.90;
}
.modal-footer > button {
    color: #000000;
}
.modal-title {
    text-align: center;
    font-size: 30px;
}
.modal-subtitle {
    text-align: center;
    font-size: 20px;
}

.pagination > li > a, span {
    color: rgb(57, 171, 111);
    background: rgba(255, 255, 255, 0);
    border-color: rgb(57, 171, 111);
}

.pagination > .active > a {
    background-color: rgb(57, 171, 111);
    border-color: rgb(57, 171, 111);
}

.pagination > .active > a:hover {
    background-color: rgb(57, 171, 111);
    border-color: rgb(57, 171, 111);
}

.redirect-button {
    color: rgb(57, 171, 111);
}
.redirect-button:hover {
    color: rgb(57, 171, 111);
}