{% extends 'base.html.twig' %}
{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assetss/css/lists.css') }}">
{% endblock %}
{% block body %}


    <div class="jumbotron">
        <div class="container">
            <h1 class="headline">TriVent</h1>
            <p>Twoje Trojmiasto w jednym miejscu</p>
            <br>

        </div>
    </div>

    <section class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>WYDARZENIE</h2>
                    <h3>data</h3>
                    <h4> opis </h4>
                    <p><a class="navbar-brand" href="#"><span class="glyphicon glyphicon-chevron-right"
                                                              aria-hidden="true"></span> View details </a></p>
                </div>
                <div class="col-md-4 marginbottom">
                    <h2>WYDARZENIE</h2>
                    <h3>data</h3>
                    <h4> opis </h4>
                    <p><a class="navbar-brand" href="#"><span class="glyphicon glyphicon-chevron-right"
                                                              aria-hidden="true"></span> View details </a></p>
                </div>
                <div class="col-md-4 marginbottom">
                    <h2>WYDARZENIE</h2>
                    <h3>data</h3>
                    <h4> opis </h4>
                    <p><a class="navbar-brand" href="#"><span class="glyphicon glyphicon-chevron-right"
                                                              aria-hidden="true"></span> View details </a></p>
                </div>

                <div class="col-md-4 marginbottom">
                    <h2>WYDARZENIE</h2>
                    <h3>data</h3>
                    <h4> opis </h4>
                    <p><a class="navbar-brand" href="#"><span class="glyphicon glyphicon-chevron-right"
                                                              aria-hidden="true"></span> View details </a></p>
                </div>
                <div class="col-md-4 marginbottom">
                    <h2>WYDARZENIE</h2>
                    <h3>data</h3>
                    <h4> opis </h4>
                    <p><a class="navbar-brand" href="#"><span class="glyphicon glyphicon-chevron-right"
                                                              aria-hidden="true"></span> View details </a></p>
                </div>
                <div class="col-md-4 marginbottom">
                    <h2>WYDARZENIE</h2>
                    <h3>data</h3>
                    <h4> opis </h4>
                    <p><a class="navbar-brand" href="#"><span class="glyphicon glyphicon-chevron-right"
                                                              aria-hidden="true"></span> View details </a></p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <span class="text-muted">3CT Hack 2017.</span>
    </footer>

{% endblock %}
